<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat That Burger!</title>
	{{!-- jQuery Javscript--}}
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- Google Fonts CSS --}}
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	{{!-- Font Awesome CSS --}}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	{{!--Bootstrap CSS--}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	{{!-- Custom CSS --}}
	<link rel="stylesheet" href="/assets/css/burger_style.css">
	{{!-- Custom JS --}}
	<script src="/assets/js/burger_js.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>