<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Devour
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete Burger!</button>
</li>
